.card-header {
    padding: 0 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.folder-container, .folder-container-back {
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    padding: 0;
    align-self: start;
    background: #F4F4F4;
    border: none;
    outline-color: transparent !important;
    cursor: pointer;
    position: relative;
}

.folder-container .icon-check {
    display: none;
    position: absolute;
    top: -2px;
    right: 5px;
    font-size: 24px;
    color: #0090e7;
}

.folder-icon {
    font-size: 3em;
    line-height: 1.25em;
}

.folder-icon img {
    width: 100px;
}

.folder-icon i {
    display: block;
    width: 100px;
    height: 100px;
    line-height: 100px;
}

.folder-icon-color {
    color: #FFC107;
    text-shadow: 1px 1px 0 #e0a800;
}

.folder-name {
    font-size: 13px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.folder-name-grid {
    border-top: 1px solid #ffffff;
    background: #DDDDDD;
    padding: 5px;
}

.flex-column .folder-container {
    display: flex;
    align-items: center;
    background: #ffffff;
    border: none;
    width: 100%;
    margin: 0;
    padding: 0 30px;
}

.flex-column .folder-container:hover {
    background: #efefef;
}

.flex-column .folder-container-back {
    display: flex;
    justify-content: flex-start;
    background: #ffffff;
    border: none;
}

.flex-column .folder-icon, .flex-column .folder-name {
    display: inline-flex;
}

.flex-column .folder-icon {
    font-size: 1.4em;
    margin-right: 1rem;
}

.flex-column .folder-icon img {
    width: 50px;
}

.flex-column .folder-icon i {
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.flex-column .folder-container .icon-check {
    top: 50%;
    left: 2px;
    right: unset;
    transform: translateY(-50%);
}

.folder-breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0 0;
    list-style: none;
}

.folder-breadcrumb > li > a {
    color: #444444;
    text-decoration: none;
    display: inline-block;
}

.folder-breadcrumb > i {
    color: #444444;
}

#btn-list i, #btn-grid i {
    margin: 0;
}

#main-folders {
    height: auto;
    min-height: 250px;
}

div.no-items {
    align-items: center;
    color: #94a7b1;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    justify-content: center;
    left: 50%;
    margin: 0 auto !important;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%) !important;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #dce6f1;
    border-radius: 50% !important;
    cursor: pointer;
    height: 200px;
    width: 200px;
}

.no-items .mdi {
    font-size: 50px;
    line-height: 1;
}

.item-border-right {
    border-right: 1px solid #DBDBDB;
}

.item-border-bottom {
    border-bottom: 1px solid #DBDBDB;
}

.col-1 {
    max-width: none;
}

.media-details .media-thumbnail {
    min-width: 250px;
    min-height: 200px;
    font-size: 70px;
    overflow: visible;
}

.media-details .media-description {
    min-width: 250px;
    overflow: visible;
}

.list-view {
    width: 100%;
}

.grid-view {
    display: block;
    float: left;
    width: 10%;
}

.flex-column .folder-item {
    background: #ffffff;
    border: none;
}

#scroll-folder {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 650px
}

.flex-column .folder-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.flex-column .more-info-folder {
    display: flex;
    font-size: 13px;
    gap: 50px;
}

.file > label {
    cursor: pointer;
    outline: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file > label:hover {
    border-color: hsl(0, 9%, 54%);
}

.text-ellipsis {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#wrap-preview {
    margin-bottom: 10px;
}

.item-thumbnail {
    margin-bottom: 10px;
}

.preview-image {
    position: relative;
    border: 1px solid #dddddd;
}

.preview-image .remove-preview {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    color: #0090e7;
    cursor: pointer;
    display: none;
}
.thumbnail-scroll {
    height: 260px;
    overflow-y: scroll;
}
